#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
#nav .menus_items .menus_item:hover .menus_item_child{
    display: flex;
  }
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -65px;
}
/* 頭像顯示 */
#sidebar-avatar {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
  }
  
  .author-info {
    font-size: 1rem;
  }
  
  .author-info__name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .author-info__description {
    font-size: 0.9rem;
    color: #777;
  }
  
  /* 頁面數據 */
  .site-data {
    margin-top: 30px;
  }
  
  .site-data a {
    display: center;
    margin: 3px 0;
    text-decoration: none;
    color: #333;
  }
  
  .site-data .headline {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .site-data .length-num {
    color: #555;
    font-size: 0.9rem;
  }
  
  /* 響應式設計 */
  @media (max-width: 768px) {
    #sidebar {
      width: 100%;
      position: relative;
    }
  
    .site-data {
      margin-top: 20px;
    }
  }
  